/** GENERICS **/
:root {
  --primary: #558B2F;
  --secondary: white;
  --tertiary: #023436;
  --accent: #FFA000;
}
html, body {
  font-family: 'Cabin', sans-serif;
  color: var(--secondary);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
img { width: 100% }
h1, h2, h3 { color: inherit; }
h1, h2 {
  margin: 2rem 0; 
  font-size: 2.2rem; 
  position: relative;
}
h1::after, h2::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100px;
  border-bottom: 2px solid var(--accent);
}
h1 { font-size: 3rem; }
h2, h3 { font-size: 1.8rem; }
h4 { font-size: 1.4rem; }
p {
  font-family: 'Cabin', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 0 20px;
}
ul {
  padding-top: 10px;
}
a { 
  color: var(--secondary);
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
}
a:hover { 
  text-decoration-color: var(--tertiary);
  text-decoration: underline;
  /* text-decoration-color: var(--accent); */
}


/** HEADER & NAV **/
header {
  background-image: url('assets/DALL-E_banner.webp');
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.header-img {
  max-width: 500px;
  flex: 1;
  display: flex;
}
.header-img a {
  height: 300px;
  width: 300px;
  background-color: var(--primary);
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  font-family: 'Bellota';
}
.header-img a:hover {
  text-decoration: none;
}
.header-img img {
  width: 120px;
}
.header-img h1 {
  margin: 0;
  font-family: 'Cabin';
  font-weight: normal;
  font-size: 2.6rem;
}
.header-img h1::after {
  display: none;
}
nav {
  width: 100%;
  background-color: var(--tertiary);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav li {
  padding: 20px;
  font-family: 'Bellota', serif;
}


/** LAYOUT & FLEX UTILS **/
section {
  background-color: var(--primary);
}
footer {
  background-color: var(--tertiary);
  padding: 30px 20px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
.flex { display: flex; }
.column { flex-direction: column; }
.align-center { align-items: center; }
.align-center { justify-content: center; }
.grow { flex: 1; }
.full-width { width: 100%; }
.justify-around { justify-content: space-around; }
.wrap { flex-wrap: wrap; }

/** COMPONENTS **/
.card {
  background-color: var(--tertiary);
  border: 1px solid var(--tertiary);
  color: var(--secondary);
  max-width: 280px;
  margin: 10px;
}
.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-bottom: 2px solid var(--accent);
}
.card-content {
  padding: 0 20px;
}
.cta {
  font-family: 'Bellota', serif;
  padding: 20px;
  margin: 20px 0;
  background-color: var(--tertiary);
}
.partner {
  margin: 20px 0;
  width: 150px;
}