/** GENERICS **/
:root {
  --primary: #558B2F;
  --secondary: white;
  --tertiary: #023436;
  --accent: #FFA000;
}
html, body {
  font-family: 'Cabin', sans-serif;
  background-color: var(--tertiary);
  color: var(--secondary);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
img { width: 100% }
h1, h2, h3 { color: inherit; }
h1, h2 {
  margin: 2rem 0; 
  font-size: 2.2rem; 
  position: relative;
}
h1::after, h2::after {
  content: "";
  position: absolute;
  left: 0; bottom: 0;
  height: 0px;
  width: 100px;
  max-width: 80%;
  border-bottom: 2px solid var(--accent);
}
h1 { font-size: 3rem; }
h2, h3 { font-size: 1.8rem; }
h4 { font-size: 1.4rem; }
p {
  font-family: 'Cabin', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 0 20px;
}
a { 
  color: var(--secondary);
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
}
a.highlighted {
  text-decoration: underline;
}
a.highlighted:hover { 
  text-decoration-color: var(--accent);
}


/** HEADER & NAV **/
header {
  background-image: url('/public/DALL-E_banner.webp');
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.header-img {
  width: 280px;
  flex: 1;
  display: flex;
}
.header-img a {
  height: 280px;
  width: 100%;
  background-color: var(--primary);
  clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
  justify-self: center;
  align-self: center;
  text-decoration: none;
  font-family: 'Bellota';
  box-sizing: border-box;
  padding-top: 20px;
}
.header-img a:hover {
  text-decoration: none;
}
.header-img img {
  width: 100px;
}
.header-img h1 {
  margin: 0;
  font-family: 'Cabin';
  font-weight: normal;
  font-size: 2.4rem;
}
.header-img h1::after {
  display: none;
}
.header-img p {
  font-family: 'Bellota';
  font-size: 1rem;
}
nav {
  width: 100%;
  background-color: var(--tertiary);
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}
nav ul {
  list-style: none;
  margin: 0;
}
nav li {
  margin: 10px;
  font-family: 'Bellota', serif;
}
nav a {
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  nav {
    position: static;
  }
}


/** LAYOUT & FLEX UTILS **/
section {
  padding: 40px 0;
  background-color: var(--primary);
}
#content img {
  max-height: 500px;
  object-fit: contain;
}
form {
  max-width: 500px;
}
footer {
  background-color: var(--tertiary);
  padding: 30px 20px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.flex { display: flex; }
.column { flex-direction: column; }
.align-center { align-items: center; }
.align-center { justify-content: center; }
.grow { flex: 1; }
.full-width { width: 100%; }
.justify-around { justify-content: space-around; }
.wrap { flex-wrap: wrap; }

/** COMPONENTS **/
.card {
  background-color: var(--tertiary);
  border: 1px solid var(--tertiary);
  color: var(--secondary);
  max-width: 300px;
  margin: 10px;
}
.wide-card {
  box-sizing: border-box;
  margin: 10px 0;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card img {
  width: 100%;
  object-fit: cover;
  border-bottom: 2px solid var(--accent);
}
.wide-card img {
  width: 200px;
  height: 200px;
  border: none;
}
.card-content {
  padding: 0 20px;
  flex: 1;
  min-width: 200px;
}
.cta {
  font-family: 'Bellota', serif;
  padding: 20px;
  margin: 10px;
  background-color: var(--tertiary);
}
.partner {
  margin: 20px 0;
  width: 150px;
}

.partner img {
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
  background-color: white;
}